@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
body{
    background-image: url(./images/bg-main-desktop.png);
    background-repeat:no-repeat ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
    font-size: 18px;
}

.container{
    margin: 100px 200px;
    display: flex;
    flex-direction: row;
}

.expiry-date{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.box-1{
width: 50%;
}

.box-2{
 width: 50%;   
 margin: 100px 60px;
}
.user-info{
    position: relative;
    background-image: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    height: 250px;
    width: auto;
}

.card-logo{
    position: absolute;
    left: 30px;
    top: 30px;
}

.card-number{
    position: absolute;
    top: 100px;
    left: 30px;
    font-size: 35px;
    color: hsl(0, 0%, 100%);
}

.user{
    position: absolute;
    top: 180px;
    left: 30px;
    color: hsl(0, 0%, 100%);
}

.cardExpiryDate{
    position: absolute;
    top: 180px;
    right: 100px;
    color: hsl(0, 0%, 100%);
}

.user-cvc{
    position: relative;
    background-image: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    height: 250px;
    width: auto;
    left: 50px;
    top: 50px;
}

.userCvc{
    position: absolute;
    right: 130px;
    top: 89px;
    color: hsl(0, 0%, 100%);
}

.userInfoOnCard{
    margin: 100px 60px;
}

.userName,
.userCardNumber{
height: 40px;
width: 98%;
border-radius: 5px;
border-color:hsl(270, 3%, 87%);
border-style: solid;
font-size: 18px;
margin-bottom: 10px;
margin-top: 5px;
cursor: pointer;
}

.dateLabel,
.cardHolder,
.cardNumber,
.cardCvc{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.month,
.year
{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border-color:hsl(270, 3%, 87%);
    border-style: solid;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
}


.cvc-number{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border-color:hsl(270, 3%, 87%);
    border-style: solid;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.date{
    width: 50%;
}

.cvc{
    width: 50%;
}

.btn{
    width: 100%;
    height: 50px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(278, 68%, 11%);
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
}

.complete-state{
    /* margin: 150px 60px; */
    text-align: center;
    display: none;
}

.complete-btn{
    width: 100%;
    height: 50px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(278, 68%, 11%);
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
}
.complete-state h1,p{
    text-transform: uppercase;
}

.card-number-error{
    font-size: 10px;
    text-transform: lowercase;
    margin: 0;
    color: hsl(0, 100%, 66%);
    display: none;
}
.date-blank-error,
.cvc-error{
font-size: 10px;
text-transform:lowercase;
margin: 0;
margin-bottom: 10px;
color: hsl(0, 100%, 66%);
display: none;
}
